{{#if error}}
	<p style="color: red;">{{error}}</p>
{{/if}}


{{#if success_msg}}
	<p style="color: green;">{{success_msg}}</p>
{{/if}}


{{#if error_msg}}
	<p style="color: red;">{{error_msg}}</p>
{{/if}}